---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Thumb from "../components/Thumb.astro";

const images = await Astro.glob("../images/*.*");

let title = "Multiverse by HTML5 UP";
let description = "Say hello to Multiverse, a slick, one-page gallery design with a fully functional lightbox.";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta property="og:image" content="https://html5up.net/uploads/cards/multiverse.jpg" />

    <link href="./favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body class="is-preload">
    <div id="wrapper">
      <Header title="Multiverse" />

      <div id="main">
        {images.map((img)=>(
            <Thumb
              title="Diam tempus accumsan"
              href={img.default.src}
              description="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
            />
          ))
        }
      </div>

      <Footer
        title="Multiverse"
        description="Just another fine responsive site template by HTML5 UP"
        tiwtter="#"
        facebook="#"
        instagram="#"
        github="#"
        dribbble="#"
        linkedin="#"
      />
    </div>

    <script is:inline src="js/jquery.min.js"></script>
    <script is:inline src="js/jquery.poptrox.min.js"></script>
    <script is:inline src="js/browser.min.js"></script>
    <script is:inline src="js/breakpoints.min.js"></script>
    <script is:inline src="js/util.js"></script>
    <script is:inline src="js/main.js"></script>
  </body>
</html>
